{% load static %}

<div class="sldsd">
    <div class="drow2">
        <div><img src="{% static '/img/one.jpg' %}" alt=""></div>
        <div class="crdlik">
            <div>
                <div class="str123"><img src="{% static '/img/star.png' %}" alt=""></div>
                <div class="drkel"><strong>4.0</strong> <a href="#">150 отзывов</a></div>
            </div>
            <div>
                <div class="ic2">
                    <a class="sr1" href="#"><span class="icon-ves"></span>
                        <div class="gl23w"><img src="{% static '/img/gl2.png' %}" alt=""></div>
                    </a>
                    <a class="sr2" href="#"><span class="icon-Group-10"></span>
                        <div class="gl23w"><img src="{% static '/img/gl2.png' %}" alt=""></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <ul class="lstcard">
        {% for text in product.sm_texts.values %}
        <li><span>→</span> {{ text.text }}</li>
        {% endfor %}
    </ul>
    <div class="lnwr">
        <div class="ln">
            <strong>200x100 мм</strong>
            <div class="rb">12 999 <span class="rub">a</span><img src="{% static '/img/dwnsld.png' %}" alt="">
            </div>
            <div class="drwed" style="display: none;">
                <div class="cls"><img src="{% static '/img/cls2.png' %}" alt=""></div>
                <div class="dflines"><strong>200x100 мм</strong>
                    <div class="rb">12 999 <span class="rub">a</span></div>
                </div>
                <div class="dflines"><strong>200x100 мм</strong>
                    <div class="rb">12 999 <span class="rub">a</span></div>
                </div>
                <div class="dflines"><strong>200x100 мм</strong>
                    <div class="rb">12 999 <span class="rub">a</span></div>
                </div>
            </div>
        </div>
    </div>
    {% include 'mainapp/blocks/product/inc_product_recomendations.html' %}
    <div class="btc">
        <div class="price">
            <div class="ot">стоимость</div>
            <div class="prs">24 652 <span>a</span></div>
            <div class="prisec"></div>
        </div>
        <div>
            <a href="#" class="rsh">в рассрочку от</a>
            <div class="prh2">652 <span>a</span>/мес.</div>
            <a href="#" class="pric">0% переплат</a>
        </div>
    </div>
    <div class="wrbr"><a class="bnt clickf" href="#"><img src="{% static '/img/imgc2.png' %}" alt="">
        Добавить</a><a id="ddd2" class="bnt bnt2" href="#"><img src="{% static '/img/crtgl.png' %}" alt=""> В
        корзине</a></div>
    <div class="ssilmat"><a href="#"><img src="{% static '/img/car1.jpg' %}" alt="">Бесплатная доставка</a><a
            href="#"><img src="{% static '/img/car2.jpg' %}" alt="">Посмотреть в магазине</a></div>
</div>