{% load static %}

<div class="wr-tbsd">
            <div class="inner-tbsd">
                <a data-tbsd="1" class="active" href="#">Описание</a>
                <a data-tbsd="2" href="#">Характеристики</a>
                <a data-tbsd="3" href="#">Отзывы</a>
                <a data-tbsd="4" href="#">Обзоры vs Аналоги</a>
                <a data-tbsd="5" href="#">Файлы</a>
            </div>
        </div>
        <div class="body-tbsd">
            <div id="1" class="active linestd2">
                <div class="inner-lisned">
                    <div class="txtlisnede">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultricies accumsan fusce
                            ultrices purus dui. Pharetra, mattis pellentesque adipiscing pretium. Fusce at eget
                            sagittis, sed at diam. </p>
                        <p>Ultricies bibendum etiam eu urna lacus, sagittis. Arcu magna non sit amet id. Massa quis
                            dui risus ultricies pulvinar ullamcorper. In porttitor dui molestie enim ac orci, et
                            quis proin.</p>
                    </div>
                    <div class="imglisned"><img src="{% static '/img/descim.jpg' %}" alt=""></div>
                </div>
            </div>
            <div id="2" class="linestd2">
                <div class="innerlinestd3">
                    <div>
                        <div class="blokinfo">
                            <div class="innerblokinfo">
                                <div class="lnsdtb">
                                    <div class="nopoints clearfix">
                                        <div class="infotbs"><img src="{% static '/img/info.png' %}" alt=""></div>
                                        <div class="txtnopts">Линейка</div>
                                    </div>
                                    <div class="ponts">
                                        ..............................................................................................................................
                                    </div>
                                    <div class="nopoints rgbbn">
                                        <div class="rig">Eco</div>
                                    </div>
                                </div>
                                <div class="lnsdtb">
                                    <div class="nopoints clearfix">
                                        <div class="infotbs"><img src="{% static '/img/info.png' %}" alt=""></div>
                                        <div class="txtnopts">Тип</div>
                                    </div>
                                    <div class="ponts">
                                        ..............................................................................................................................
                                    </div>
                                    <div class="nopoints rgbbn">
                                        <div class="rig">Детский</div>
                                    </div>
                                </div>
                                <div class="lnsdtb">
                                    <div class="nopoints clearfix">
                                        <div class="infotbs"><img src="{% static '/img/info.png' %}" alt=""></div>
                                        <div class="txtnopts">Бренд</div>
                                    </div>
                                    <div class="ponts">
                                        ..............................................................................................................................
                                    </div>
                                    <div class="nopoints rgbbn">
                                        <div class="rig">One</div>
                                    </div>
                                </div>
                                <div class="lnsdtb">
                                    <div class="nopoints clearfix">
                                        <div class="infotbs"><img src="{% static '/img/info.png' %}" alt=""></div>
                                        <div class="txtnopts">Гарантия</div>
                                    </div>
                                    <div class="ponts">
                                        ..............................................................................................................................
                                    </div>
                                    <div class="nopoints rgbbn">
                                        <div class="rig">10 лет</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blokinfo">
                            <div class="innerblokinfo">
                                <div class="lnsdtb">
                                    <div class="nopoints clearfix">
                                        <div class="infotbs"><img src="{% static '/img/info.png' %}" alt=""></div>
                                        <div class="txtnopts">Ширина</div>
                                    </div>
                                    <div class="ponts">
                                        ..............................................................................................................................
                                    </div>
                                    <div class="nopoints rgbbn">
                                        <div class="rig">160 см</div>
                                    </div>
                                </div>
                                <div class="lnsdtb">
                                    <div class="nopoints clearfix">
                                        <div class="infotbs"><img src="{% static '/img/info.png' %}" alt=""></div>
                                        <div class="txtnopts">Длина</div>
                                    </div>
                                    <div class="ponts">
                                        ..............................................................................................................................
                                    </div>
                                    <div class="nopoints rgbbn">
                                        <div class="rig">200 см</div>
                                    </div>
                                </div>
                                <div class="lnsdtb">
                                    <div class="nopoints clearfix">
                                        <div class="infotbs"><img src="{% static '/img/info.png' %}" alt=""></div>
                                        <div class="txtnopts">Высота</div>
                                    </div>
                                    <div class="ponts">
                                        ..............................................................................................................................
                                    </div>
                                    <div class="nopoints rgbbn">
                                        <div class="rig">25 см</div>
                                    </div>
                                </div>
                                <div class="lnsdtb">
                                    <div class="nopoints clearfix">
                                        <div class="infotbs"><img src="{% static '/img/info.png' %}" alt=""></div>
                                        <div class="txtnopts">Вес матраса</div>
                                    </div>
                                    <div class="ponts">
                                        ..............................................................................................................................
                                    </div>
                                    <div class="nopoints rgbbn">
                                        <div class="rig">30 кг</div>
                                    </div>
                                </div>
                                <div class="lnsdtb">
                                    <div class="nopoints clearfix">
                                        <div class="infotbs"><img src="{% static '/img/info.png' %}" alt=""></div>
                                        <div class="txtnopts">Тип упаковки</div>
                                    </div>
                                    <div class="ponts">
                                        ..............................................................................................................................
                                    </div>
                                    <div class="nopoints rgbbn">
                                        <div class="rig">коробка</div>
                                    </div>
                                </div>
                                <div class="lnsdtb">
                                    <div class="nopoints clearfix">
                                        <div class="infotbs"><img src="{% static '/img/info.png' %}" alt=""></div>
                                        <div class="txtnopts">Габариты</div>
                                    </div>
                                    <div class="ponts">
                                        ..............................................................................................................................
                                    </div>
                                    <div class="nopoints rgbbn">
                                        <div class="rig"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="blokinfo">
                            <div class="innerblokinfo">
                                <div class="strblogh">Конструкция</div>
                                <div class="lnsdtb">
                                    <div class="nopoints clearfix">
                                        <div class="infotbs"><img src="{% static '/img/info.png' %}" alt=""></div>
                                        <div class="txtnopts">Усиление периметра</div>
                                    </div>
                                    <div class="ponts">
                                        ..............................................................................................................................
                                    </div>
                                    <div class="nopoints rgbbn">
                                        <div class="rig">Да</div>
                                    </div>
                                </div>
                                <div class="lnsdtb">
                                    <div class="nopoints clearfix">
                                        <div class="infotbs"><img src="{% static '/img/info.png' %}" alt=""></div>
                                        <div class="txtnopts">Плотность усиления</div>
                                    </div>
                                    <div class="ponts">
                                        ..............................................................................................................................
                                    </div>
                                    <div class="nopoints rgbbn">
                                        <div class="rig">20</div>
                                    </div>
                                </div>
                                <div class="lnsdtb">
                                    <div class="nopoints clearfix">
                                        <div class="infotbs"><img src="{% static '/img/info.png' %}" alt=""></div>
                                        <div class="txtnopts">Еврорамка</div>
                                    </div>
                                    <div class="ponts">
                                        ..............................................................................................................................
                                    </div>
                                    <div class="nopoints rgbbn">
                                        <div class="rig">да</div>
                                    </div>
                                </div>
                                <div class="lnsdtb">
                                    <div class="nopoints clearfix">
                                        <div class="infotbs"><img src="{% static '/img/info.png' %}" alt=""></div>
                                        <div class="txtnopts">Анатомический</div>
                                    </div>
                                    <div class="ponts">
                                        ..............................................................................................................................
                                    </div>
                                    <div class="nopoints rgbbn">
                                        <div class="rig">да</div>
                                    </div>
                                </div>
                                <div class="lnsdtb">
                                    <div class="nopoints clearfix">
                                        <div class="infotbs"><img src="{% static '/img/info.png' %}" alt=""></div>
                                        <div class="txtnopts">Вентиляция матраса</div>
                                    </div>
                                    <div class="ponts">
                                        ..............................................................................................................................
                                    </div>
                                    <div class="nopoints rgbbn">
                                        <div class="rig">Пассивная</div>
                                    </div>
                                </div>
                                <div class="lnsdtb">
                                    <div class="nopoints clearfix">
                                        <div class="infotbs"><img src="{% static '/img/info.png' %}" alt=""></div>
                                        <div class="txtnopts">Массажный эффект</div>
                                    </div>
                                    <div class="ponts">
                                        ..............................................................................................................................
                                    </div>
                                    <div class="nopoints rgbbn">
                                        <div class="rig">да</div>
                                    </div>
                                </div>
                                <div class="lnsdtb">
                                    <div class="nopoints clearfix">
                                        <div class="infotbs"><img src="{% static '/img/info.png' %}" alt=""></div>
                                        <div class="txtnopts">Эффект памяти</div>
                                    </div>
                                    <div class="ponts">
                                        ..............................................................................................................................
                                    </div>
                                    <div class="nopoints rgbbn">
                                        <div class="rig">да</div>
                                    </div>
                                </div>
                                <div class="lnsdtb">
                                    <div class="nopoints clearfix">
                                        <div class="infotbs"><img src="{% static '/img/info.png' %}" alt=""></div>
                                        <div class="txtnopts">Гипоаллергенный</div>
                                    </div>
                                    <div class="ponts">
                                        ..............................................................................................................................
                                    </div>
                                    <div class="nopoints rgbbn">
                                        <div class="rig">да</div>
                                    </div>
                                </div>
                                <div class="lnsdtb">
                                    <div class="nopoints clearfix">
                                        <div class="infotbs"><img src="{% static '/img/info.png' %}" alt=""></div>
                                        <div class="txtnopts">Двухсторонний</div>
                                    </div>
                                    <div class="ponts">
                                        ..............................................................................................................................
                                    </div>
                                    <div class="nopoints rgbbn">
                                        <div class="rig">да</div>
                                    </div>
                                </div>
                                <div class="lnsdtb">
                                    <div class="nopoints clearfix">
                                        <div class="infotbs"><img src="{% static '/img/info.png' %}" alt=""></div>
                                        <div class="txtnopts">Ручки для переворачивания</div>
                                    </div>
                                    <div class="ponts">
                                        ..............................................................................................................................
                                    </div>
                                    <div class="nopoints rgbbn">
                                        <div class="rig">да</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--vdvdv-->
                    <div>
                        <div class="blokinfo">
                            <div class="innerblokinfo">
                                <div class="lnsdtb">
                                    <div class="nopoints clearfix">
                                        <div class="infotbs"><img src="{% static '/img/info.png' %}" alt=""></div>
                                        <div class="txtnopts strblogh obddf">Общие характеристики</div>
                                    </div>
                                    <div class="nopoints rgbbn">
                                        <div class="rig"></div>
                                    </div>
                                </div>
                                <div class="lnsdtb">
                                    <div class="nopoints clearfix">
                                        <div class="infotbs"><img src="{% static '/img/info.png' %}" alt=""></div>
                                        <div class="txtnopts">Жесткость стороны 1</div>
                                    </div>
                                    <div class="ponts">
                                        ..............................................................................................................................
                                    </div>
                                    <div class="nopoints rgbbn">
                                        <div class="rig">Средняя</div>
                                    </div>
                                </div>
                                <div class="lnsdtb">
                                    <div class="nopoints clearfix">
                                        <div class="infotbs"><img src="{% static '/img/info.png' %}" alt=""></div>
                                        <div class="txtnopts">Жесткость стороны 2</div>
                                    </div>
                                    <div class="ponts">
                                        ..............................................................................................................................
                                    </div>
                                    <div class="nopoints rgbbn">
                                        <div class="rig">Средняя</div>
                                    </div>
                                </div>
                                <div class="lnsdtb">
                                    <div class="nopoints clearfix">
                                        <div class="infotbs"><img src="{% static '/img/info.png' %}" alt=""></div>
                                        <div class="txtnopts">Вес на место</div>
                                    </div>
                                    <div class="ponts">
                                        ..............................................................................................................................
                                    </div>
                                    <div class="nopoints rgbbn">
                                        <div class="rig">от 60 до 90</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blokinfo">
                            <div class="innerblokinfo">
                                <div class="strblogh">Чехол</div>
                                <div class="lnsdtb">
                                    <div class="nopoints clearfix">
                                        <div class="infotbs"><img src="{% static '/img/info.png' %}" alt=""></div>
                                        <div class="txtnopts">Материал чехла</div>
                                    </div>
                                    <div class="ponts">
                                        ..............................................................................................................................
                                    </div>
                                    <div class="nopoints rgbbn">
                                        <div class="rig">Хлопок</div>
                                    </div>
                                </div>
                                <div class="lnsdtb">
                                    <div class="nopoints clearfix">
                                        <div class="infotbs"><img src="{% static '/img/info.png' %}" alt=""></div>
                                        <div class="txtnopts">Плотность чехла</div>
                                    </div>
                                    <div class="ponts">
                                        ..............................................................................................................................
                                    </div>
                                    <div class="nopoints rgbbn">
                                        <div class="rig">200 гр</div>
                                    </div>
                                </div>
                                <div class="lnsdtb">
                                    <div class="nopoints clearfix">
                                        <div class="infotbs"><img src="{% static '/img/info.png' %}" alt=""></div>
                                        <div class="txtnopts">Pillow top</div>
                                    </div>
                                    <div class="ponts">
                                        ..............................................................................................................................
                                    </div>
                                    <div class="nopoints rgbbn">
                                        <div class="rig">да</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="blokinfo">
                            <div class="innerblokinfo">
                                <div class="strblogh">Пружинный блок</div>
                                <div class="lnsdtb">
                                    <div class="nopoints clearfix">
                                        <div class="infotbs"><img src="{% static '/img/info.png' %}" alt=""></div>
                                        <div class="txtnopts">Тип пружин</div>
                                    </div>
                                    <div class="ponts">
                                        ..............................................................................................................................
                                    </div>
                                    <div class="nopoints rgbbn">
                                        <div class="rig">Независимый</div>
                                    </div>
                                </div>
                                <div class="lnsdtb">
                                    <div class="nopoints clearfix">
                                        <div class="infotbs"><img src="{% static '/img/info.png' %}" alt=""></div>
                                        <div class="txtnopts">Кол-во пружин на место</div>
                                    </div>
                                    <div class="ponts">
                                        ..............................................................................................................................
                                    </div>
                                    <div class="nopoints rgbbn">
                                        <div class="rig">256</div>
                                    </div>
                                </div>
                                <div class="lnsdtb">
                                    <div class="nopoints clearfix">
                                        <div class="infotbs"><img src="{% static '/img/info.png' %}" alt=""></div>
                                        <div class="txtnopts">Материал пружин</div>
                                    </div>
                                    <div class="ponts">
                                        ..............................................................................................................................
                                    </div>
                                    <div class="nopoints rgbbn">
                                        <div class="rig">сталь, титан</div>
                                    </div>
                                </div>
                                <div class="lnsdtb">
                                    <div class="nopoints clearfix">
                                        <div class="infotbs"><img src="{% static '/img/info.png' %}" alt=""></div>
                                        <div class="txtnopts">Толщина пружин</div>
                                    </div>
                                    <div class="ponts">
                                        ..............................................................................................................................
                                    </div>
                                    <div class="nopoints rgbbn">
                                        <div class="rig">1.5мм</div>
                                    </div>
                                </div>
                                <div class="lnsdtb">
                                    <div class="nopoints clearfix">
                                        <div class="infotbs"><img src="{% static '/img/info.png' %}" alt=""></div>
                                        <div class="txtnopts">Кол-во зон поддержки матраса</div>
                                    </div>
                                    <div class="ponts">
                                        ..............................................................................................................................
                                    </div>
                                    <div class="nopoints rgbbn">
                                        <div class="rig">7</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blokinfo">
                            <div class="innerblokinfo">
                                <div class="strblogh">Наполнители</div>
                                <div class="lnsdtb">
                                    <div class="nopoints clearfix">
                                        <div class="infotbs"><img src="{% static '/img/info.png' %}" alt=""></div>
                                        <div class="txtnopts">Нетканный материал</div>
                                    </div>
                                    <div class="ponts">
                                        ..............................................................................................................................
                                    </div>
                                    <div class="nopoints rgbbn">
                                        <div class="rig">Спанбонд</div>
                                    </div>
                                </div>
                                <div class="lnsdtb">
                                    <div class="nopoints clearfix">
                                        <div class="infotbs"><img src="{% static '/img/info.png' %}" alt=""></div>
                                        <div class="txtnopts">Наполнитель 1</div>
                                    </div>
                                    <div class="ponts">
                                        ..............................................................................................................................
                                    </div>
                                    <div class="nopoints rgbbn">
                                        <div class="rig">Латекс</div>
                                    </div>
                                </div>
                                <div class="lnsdtb">
                                    <div class="nopoints clearfix">
                                        <div class="infotbs"><img src="{% static '/img/info.png' %}" alt=""></div>
                                        <div class="txtnopts">Наполнитель 2</div>
                                    </div>
                                    <div class="ponts">
                                        ..............................................................................................................................
                                    </div>
                                    <div class="nopoints rgbbn">
                                        <div class="rig">Кокос</div>
                                    </div>
                                </div>
                                <div class="lnsdtb">
                                    <div class="nopoints clearfix">
                                        <div class="infotbs"><img src="{% static '/img/info.png' %}" alt=""></div>
                                        <div class="txtnopts">Наполнитель 3</div>
                                    </div>
                                    <div class="ponts">
                                        ..............................................................................................................................
                                    </div>
                                    <div class="nopoints rgbbn">
                                        <div class="rig">Термовойлок</div>
                                    </div>
                                </div>
                                <div class="lnsdtb">
                                    <div class="nopoints clearfix">
                                        <div class="infotbs"><img src="{% static '/img/info.png' %}" alt=""></div>
                                        <div class="txtnopts">Наполнитель 4</div>
                                    </div>
                                    <div class="ponts">
                                        ..............................................................................................................................
                                    </div>
                                    <div class="nopoints rgbbn">
                                        <div class="rig">Латекс</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="3" class="linestd2">
                <div class="sort">
                    <div class="jkkffgg">150 отзывов <span>|</span>
                        <div class="fr4ddcvb">Сортировать: <a href="#">По времени <img src="{% static '/img/dwnsrt.png'%}"                                                                                       alt=""></a></div>
                    </div>
                    <div><a class="rfe" href="#">Оставить отзыв</a></div>
                </div>
                <div class="inner-comment">
                    {% for i in comments %}
                    <div data-fancybox data-src="#popcomment" class="item-comment">
                        <div class="itsm">
                            <div class="rw3">
                                <div class="av"><img src="{% static '/img/av1.png' %}" alt=""></div>
                                <div>
                                    <img src="{% static '/img/star.png' %}" alt="">
                                    <div class="name">Екатерина К.</div>
                                    <span>Возраст: 20-24</span>
                                    <span>Время сна: 6-8</span>
                                </div>
                            </div>
                            <strong>Отличный матрас!</strong>
                            <em>Очень довольна покупкой, нам с мужем стало комфортно спать на одном матрасе.</em>
                            <div class="emlkjt"><a href="#">Подробнее</a>
                                <div class="dt">01.04.2019</div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div id="4" class="linestd2">
                <div class="tsbd">
                    <a class="active" href="#">Avocado</a>
                    <a href="#">Ormatek Life</a>
                    <a href="#">Askona Fitnes</a>
                    <a href="#">Blue Sleep</a>
                    <a href="#">ProActive</a>
                    <a href="#">Casper</a>
                </div>
                <div class="csp">
                    <div class="onepid">
                        <img src="{% static '/img/mnt.png' %}" alt="">
                        <strong>Avocado</strong>
                    </div>
                    <div class="onepid">
                        <img src="{% static '/img/mnt.png' %}" alt="">
                        <strong>Askona Fitnes</strong>
                    </div>
                    <div class="onepid actvinpid">
                        Переместите
                        сюда название
                        для сравнения
                    </div>
                    <div class="onepid actvinpid">
                        Переместите
                        сюда название
                        для сравнения
                    </div>
                </div>
                <div class="tb234">
                    <div class="rwmatpid">
                        <div class="rpmjk">Цена</div>
                        <div>10</div>
                        <div>9,4</div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="rwmatpid">
                        <div class="rpmjk">Материалы</div>
                        <div>10</div>
                        <div>9,4</div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="rwmatpid">
                        <div class="rpmjk">Комфорт</div>
                        <div>10</div>
                        <div>9,4</div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="rwmatpid">
                        <div class="rpmjk">Гарантия</div>
                        <div>10</div>
                        <div>9,4</div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="rwmatpid">
                        <div class="rpmjk">Пробный период</div>
                        <div>10</div>
                        <div>9,4</div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="rwmatpid">
                        <div class="rpmjk">Материалы</div>
                        <div>10</div>
                        <div>9,4</div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="rwmatpid">
                        <div class="rpmjk">Комфорт</div>
                        <div>10</div>
                        <div>9,4</div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="rwmatpid">
                        <div class="rpmjk">Гарантия</div>
                        <div>10</div>
                        <div>9,4</div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="rwmatpid">
                        <div class="rpmjk">Пробный период</div>
                        <div>10</div>
                        <div>9,4</div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="rwmatpid">
                        <div class="rpmjk">Материалы</div>
                        <div>10</div>
                        <div>9,4</div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div id="5" class="linestd2">
                <div class="wr-flpid">
                    <a class="pdpid" href="#">
                        <div><img src="{% static '/img/pdf1.png' %}" alt="">
                            <div><img class="pdf-h" src="{% static '/img/pdf2.png' %}" alt=""></div>
                        </div>
                        <div><span>Гарантийные обязательства</span> <strong>23 кб</strong></div>
                    </a>
                    <a class="pdpid" href="#">
                        <div><img src="{% static '/img/pdf1.png' %}" alt="">
                            <div><img class="pdf-h" src="{% static '/img/pdf2.png' %}" alt=""></div>
                        </div>
                        <div><span>Спецификация </span><strong>23 кб</strong></div>
                    </a>
                    <a class="pdpid" href="#">
                        <div><img src="{% static '/img/pdf1.png' %}" alt="">
                            <div><img class="pdf-h" src="{% static '/img/pdf2.png' %}" alt=""></div>
                        </div>
                        <div><span>Особенности ухода</span> <strong>23 кб</strong></div>
                    </a>
                    <a class="pdpid firsty" href="#">
                        <div><img src="{% static '/img/cub.png' %}" alt="">
                            <div><!-- <img class="pdf-h" src="/static/img/pdf2.png" alt=""> --></div>
                        </div>
                        <div><span>3d модель</span> <strong>23 кб</strong></div>
                    </a>
                </div>
            </div>
        </div>