<div>
    <div style="background-image: url('/static/img/bg2.jpg');" class="banner-head">
        <div class="wr">
            <h1 class="h1 inh">Вернем 50% цены <br>за отзыв на маркете</h1>
            {% include 'mainapp/blocks/inc_left_menu.html' %}
            <div class="textbanner">
                <div class="txt1 bn">
                    Тумба Bedside <br> 11 300.-
                </div>
                <div class="txt2 bn">
                    Кровать Bed <br> 11 300.-
                </div>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="armor">
        <div class="inner-armor">
            <div class="itemsa">
                <div class="imi"><img src="/static/img/ik1.png" alt=""></div>
                <strong>Гарантия <br> 10 лет</strong>
            </div>
            <div class="itemsa">
                <div class="imi"><img src="/static/img/ic2.png" alt=""></div>
                <strong>Бесплатная <br> доставка</strong>
            </div>
            <div class="itemsa">
                <div class="imi"><img src="/static/img/ic3.png" alt=""></div>
                <strong>120% гарантия <br> лучшей цены</strong>
            </div>
            <div class="itemsa">
                <div class="imi"><img src="/static/img/ic4.png" alt=""></div>
                <strong>50% кешбэк <br> за отзывы</strong>
            </div>
        </div>
    </div>
</section>