{% load static %}

<header>
    <div class="header-line wr">
        <div class="left">
            <a class="logo" href="/"><img src="{% static '/img/logo.png' %}" alt=""></a>
            <div class="selectdow">
                <a class="drp" href="#"><span class="icon-Fill-1 mark"></span><span>Москва</span><img
                        src="{% static '/img/dwn.png' %}" alt=""></a>
            </div>
            <nav class="top-menu">
                <ul>
                    <li><a href="#">Обзоры</a></li>
                    <li><a href="#">Доставка</a></li>
                    <li><a href="#">Рассрочка</a></li>
                    <li><a href="#">Сотрудничество</a></li>
                </ul>
            </nav>
        </div>
        <div class="right">
            <div class="wrt">
                <div class="tel"><a href="tel:+74952003682"><span class="icon-Group-7 tl"></span><strong>+7 495
                    200-36-82</strong></a></div>
            </div>
            <div class="iconsd">
                <a href="#"><span class="icon-Fill-2"></span><strong>Поиск</strong></a>
                <a href="#"><span class="icon-entypo_bar-graph"></span><strong>Сравнение</strong></a>
                <a href="#"><span class="icon-Group-10"></span><strong>Избранное</strong></a>
                <a href="#"><span class="icon-profile"></span><strong>Личный кабинет</strong></a>
            </div>
            <div class="card">
                <a href="#">
                    <img src="{% static '/img/card.png' %}" alt="">
                    <strong>4</strong>
                </a>
            </div>
        </div>
    </div>
</header>