<div>
    <div style="background-image: url('static/img/bg2.jpg');" class="banner-head">
        <div class="wr">
            <h1 class="h1">Спите красиво</h1>
            {% include 'mainapp/blocks/inc_left_menu.html' %}
            <div class="textbanner">
                <div class="txt1 bn">
                    Тумба Bedside <br> 11 300.-
                </div>
                <div class="txt2 bn">
                    Кровать Bed <br> 11 300.-
                </div>
            </div>
        </div>
    </div>
</div>