<div class="vdct">
				<h2 class="h2">Обратите внимание</h2>
				<div class="obj">
					<div class="lefj">
						<img class="maini" src="/static/img/mj1.jpg" alt="">
						<a style="right: 15.6%; top: 10%;" href="#" class="add1">
							<div class="we-circ2"><div class="we-circ"><div class="circ" href="#"></div></div></div><div>Удобное кресло <br> 11 300.-</div>
						</a>
						<a style="right: 72%; top: 73%;" href="#" class="add1">
							<div class="we-circ2"><div class="we-circ"><div class="circ" href="#"></div></div></div><div>Столик <br> 9 300.-</div>
						</a>
					</div>
					<div class="rigj">
						<img class="maini" src="/static/img/mj2.jpg" alt="">
						<a style="right: 75%; top: 78%;" href="#" class="add1 glc">
							<div class="we-circ2"><div class="we-circ"><div class="circ" href="#"></div></div></div><div>Коврик <br>12 300.-</div>
						</a>
						<a style="right: 14.4%; top: 50.9%;" href="#" class="add1 glc">
							<div class="we-circ2"><div class="we-circ"><div class="circ" href="#"></div></div></div><div>Кресло из ратанга <br>24 300.-</div>
						</a>
					</div>
				</div>
			</div>