<section>
    <div class="filter">
        <div class="pty">550 товаров <span>|</span></div>
        <div class="fl">
            <div class="rodf">
                <a class="active" href="#">Размер <span>+</span></a>
                <div class="flit">
                    <div class="rwff">
                        <div class="fltit">Ширина, см</div>
                        <form class="flform" action="">
                            <div class="rwin22"><input id="1" placeholder="от 93" type="text"><input id="2"
                                                                                                     placeholder="до 300"
                                                                                                     type="text"></div>
                            <div id="polzunok"></div>
                        </form>
                    </div>
                    <div class="rwff">
                        <div class="fltit">Высота, см</div>
                        <form class="flform" action="">
                            <div class="rwin22"><input id="3" placeholder="от 93" type="text"><input id="4"
                                                                                                     placeholder="до 300"
                                                                                                     type="text"></div>
                            <div id="polzunok2"></div>
                        </form>
                    </div>
                    <div class="rwff">
                        <div class="fltit">Глубина, см</div>
                        <form class="flform" action="">
                            <div class="rwin22"><input id="5" placeholder="от 93" type="text"><input id="6"
                                                                                                     placeholder="до 300"
                                                                                                     type="text"></div>
                            <div id="polzunok3"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div>
                <a href="#">Цена <span>+</span></a>
                <div class="flit"></div>
            </div>
            <div>
                <a href="#">Цвет <span>+</span></a>
                <div class="flit"></div>
            </div>
            <div>
                <a href="#">Форма <span>+</span></a>
                <div class="flit"></div>
            </div>
            <div>
                <a href="#">Еще фильтры <span>+</span></a>
                <div class="flit"></div>
            </div>
        </div>
        <div class="fl2">
            <a href="#">Сначала дешевле<img src="/static/img/dwnsld.png" alt=""></a>
            <a class="red" href="#">Очистить ×</a>
        </div>
    </div>
</section>