<section class="sld2">
					<h3 class="h2">Вам может пригодиться</h3>
					<div class="tabs">
						<a class="active" data-page="1" href="#">Все</a>
						<a data-page="2" href="#">Смотрели ранее</a>
						<a data-page="3" href="#">Матрасы</a>
						<a data-page="4" href="#">Кровати</a>
						<a data-page="5" href="#">Шкафы и тумбы</a>
						<a data-page="6" href="#">Диваны и кресла</a>
						<a data-page="7" href="#">Текстиль</a>
						<a data-page="8" href="#">Ароматы и  декор</a>
						<a data-page="9" href="#">Кухня</a>
						<a data-page="9" href="#">Для животных</a>
						<a data-page="9" href="#">Акции</a>
					</div>
					<div class="sld-body">
						<div id="1" class="inner-bodys shows owl-carousel">
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
						</div>
						<div id="2" class="inner-bodys owl-carousel">
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
						</div>
						<div id="3" class="inner-bodys owl-carousel">
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
						</div>
						<div id="4" class="inner-bodys owl-carousel">
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
						</div>
						<div id="5" class="inner-bodys owl-carousel">
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
						</div>
						<div id="6" class="inner-bodys owl-carousel">
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
						</div>
						<div id="7" class="inner-bodys owl-carousel">
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
						</div>
						<div id="8" class="inner-bodys owl-carousel">
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
						</div>
						<div id="9" class="inner-bodys owl-carousel">
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
							<div class="iuy11">
								<div class="iolkk">
									<img src="/static/img/fi1.jpg" alt="">
								</div>
								<div class="stroi">Матрас One</div>
								<div class="prsdu"><em>от</em>24 652 <span>a</span></div>
								<div class="dab">Подробнее</div>
								<div class="hov">
									<div class="dwert">
										<div class="ic2">
											<a class="" href="#"><span class="icon-ves"></span><div class="gl23w"><img src="/static/img/gl2.png" alt=""></div></a>
											<a class="sr2" href="#"><span class="icon-Group-10"></span></a>
										</div>
									</div>
									<div class="imghov"><img src="/static/img/hovi.jpg" alt=""></div>
									<div class="lor">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, lacus, a neque leo.
									</div>
									<div class="ln"><strong>200x100 мм</strong><div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div></div>
									<div class="wrbr"><a class="bnt" href="#">Подробнее</a></div>
								</div>
							</div>
						</div>
						<script>
							$(document).ready(function(){
								$('.owl-carousel').owlCarousel({
							                loop:true, //Зацикливаем слайдер
							                margin:31, //Отступ от элемента справа в 50px
							                nav:false, //Отключение навигации
							                dots: false,
							                navText:false,
							                stagePadding: 100,
							                autoplay:true, //Автозапуск слайдера
							                smartSpeed:1500, //Время движения слайда
							                autoplayTimeout:3000, //Время смены слайда
							                responsive:{ //Адаптивность. Кол-во выводимых элементов при определенной ширине.
							                	0:{
							                		items:2
							                	},

							                	600:{
							                		items:3
							                	},

							                	1200: {
							                		items: 3
							                	},

							                	1439 : {
							                		items: 3,
							                	},
							                	1900 : {
							                		items: 5,
							                	}
							                }
							              });
							});
						</script>
					</div>
				</section>