{% load static %}

<footer class="footer">
    <div class="rwinners">
        <div class="txfg">
            <div class="left">
                <a class="logo" href="/"><img src="{% static '/img/logo.png' %}" alt=""></a>
                <nav class="top-menu">
                    <ul>
                        <li><a href="#">Рассрочка</a></li>
                        <li><a href="#">Доставка и оплата</a></li>
                        <li><a href="#">Дизайнерам</a></li>
                        <li><a href="#">Партнерам</a></li>
                        <li><a href="#">Где полежать</a></li>
                    </ul>
                </nav>
            </div>
            <div class="plt">
                <a class="polit" href="#">Политика конфиденциальности</a>
                <a class="polit" href="#">Публичная оферта</a>
                <a class="polit" href="#">Обмен и возврат</a>
            </div>
            <div class="copy">Copyright &copy; 2019</div>
            <div style="padding: 0;" class="copy">Внимание! Информация на сайте не является публичной офертой. Обращаем
                Ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких
                условиях не является публичной офертой, определяемой положениями ч. 2 ст. 437 Гражданского кодекса
                Российской Федерации. Для получения подробной информации о стоимости и сроках выполнения услуг,
                пожалуйста, обращайтесь к сотрудникам коммерческого отдела. Запрещается скачивать материалы сайта для
                любых целей за исключением личных, а также запрещается публикация, передача, воспроизведение и любое
                иного использования Произведений.
            </div>
        </div>
        <div class="txfg2">
            <div class="inj2">
                <div>
                    <a href="tel:+74952003682"><span class="icon-Group-7 tl2"></span>+7 495 200-36-82</a>
                    <strong>Ежедневно с 9:00 до 21:00</strong>
                </div>
                <a href="#"><img src="{% static '/img/up.png' %}" alt=""></a>
            </div>
            <div class="crd"><img src="{% static '/img/card.jpg' %}" alt=""></div>
            <a class="mk2" target="_blank" href=""><img src="{% static '/img/mk.png' %}" alt=""></a>
        </div>
    </div>
</footer>