<section class="bnjj">
    <img src="/static/img/kr11.jpg" alt="">
    <div class="desmt">
        <div class="dtemp">
            <div class="strop">Матрас Silver Spring</div>
            <div class="resdfg">Премиальный матрас ручной работы, на основе серебряных пружин</div>
        </div>
        <div>
            <a class="addcerdf" href="#"><img src="/static/img/card.png" alt=""> Добавить в корзину</a>
            <div class="ln"><strong>200x100 мм</strong>
                <div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div>
            </div>
        </div>
    </div>
</section>