<section class="catalog lmeb1">
    {% for i in skus %}
        <div class="it-catal">
            <div class="hov">
                <div class="dwert">
                    <div class="ic2">
                        <a class="sr1" href="{% url 'product' %}"><span class="icon-ves"></span>
                            <div class="gl23w"><img src="/static/img/gl2.png" alt=""></div>
                        </a>
                        <a class="sr2" href="{% url 'product' %}"><span class="icon-Group-10"></span>
                            <div class="gl23w"><img src="/static/img/gl2.png" alt=""></div>
                        </a>
                    </div>
                </div>
                <div class="imghov">
                    <img src="/static/img/imgh2.jpg" alt="">
                    <div class="circt">
                        <a class="active" style="background-color: #7a3030;" href="#"></a>
                        <a style="background-color: #d36565;" href="#"></a>
                        <a style="background-color: #d3e27b;" href="#"></a>
                        <a style="background-color: #5a5a5a;" href="#"></a>
                        <a style="background-color: #d8d8d8;" href="#"></a>
                    </div>
                </div>
                <div class="ln">
                    <strong>200x100 мм</strong>
                    <div class="rb">12 999 <span class="rub">a</span><img src="/static/img/dwnsld.png" alt=""></div>
                    <div class="drwed">
                        <div class="cls"><img src="/static/img/cls2.png" alt=""></div>
                        <div class="dflines"><strong>200x100 мм</strong>
                            <div class="rb">12 999 <span class="rub">a</span></div>
                        </div>
                        <div class="dflines"><strong>200x100 мм</strong>
                            <div class="rb">12 999 <span class="rub">a</span></div>
                        </div>
                        <div class="dflines"><strong>200x100 мм</strong>
                            <div class="rb">12 999 <span class="rub">a</span></div>
                        </div>
                    </div>
                </div>
                <div class="wrbr"><a class="bnt" href="{% url 'product' %}">Подробнее</a></div>
            </div>
            <div>
            </div>
            <div class="itemc">
                <div class="imwr"><img src="/static/img/imgh1.jpg" alt=""></div>
                <div class="zag">Кровать (с подъемным механизмом) Carrera, бежевый</div>
                <div class="btc">
                    <div class="price">
                        <div class="ot">от</div>
                        <div class="prs">24 652 <span>a</span></div>
                        <div class="prisec">выгода 3 000 руб.</div>
                    </div>
                    <div>
                        <a href="#" class="rsh">в рассрочку от</a>
                        <div class="prh2">652 <span>a</span>/мес.</div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</section>