<div class="vdct">
    <h2 class="h2">Рекомендуем изучить</h2>
    <div class="ydd">
        <a href="#">
            <div class="kkljj">
                <img src="/static/img/ikm.jpg" alt="">
                <div class="mores">Узнать больше</div>
            </div>
            <div class="lksd">Как выбрать матрас?</div>
            <div class="txtfcv">
                От выбора матраса напрямую зависит качество сна и самочувствие в течение дня. Хорошее настроение и
                работоспособность – первые признаки того, что вы хорошо выспались.
            </div>
        </a>
        <a href="#">
            <div class="kkljj">
                <img src="/static/img/ikm.jpg" alt="">
                <div class="mores">Узнать больше</div>
            </div>
            <div class="lksd">Как выбрать матрас?</div>
            <div class="txtfcv">
                От выбора матраса напрямую зависит качество сна и самочувствие в течение дня. Хорошее настроение и
                работоспособность – первые признаки того, что вы хорошо выспались.
            </div>
        </a>
        <a href="#">
            <div class="kkljj">
                <img src="/static/img/ikm.jpg" alt="">
                <div class="mores">Узнать больше</div>
            </div>
            <div class="lksd">Как выбрать матрас?</div>
            <div class="txtfcv">
                От выбора матраса напрямую зависит качество сна и самочувствие в течение дня. Хорошее настроение и
                работоспособность – первые признаки того, что вы хорошо выспались.
            </div>
        </a>
    </div>
</div>